.screen
   position: relative
   display: flex
   padding: 25px 0 20px
   min-height: 476px
   +cover
   color: #fff
   text-align: center
   +sm
      padding: 30px 0
   &::after
      +coverdiv
      background: rgba(#183364, .68)
      pointer-events: none
      content: ''
   &__container
      position: relative
      z-index: 1
      display: flex
      flex-direction: column
      justify-content: center
   &__event
      margin-bottom: 50px
      +md
         margin-bottom: 30px
      &-info
         line-height: 26px
         
      &-date
         margin-bottom: 5px
         +f('ms900', 30)
         color: $color-3
         +sm
            font-size: 18px
      &-time
         font-size: 20px
         +sm
            font-size: 18px
   &__main-text
      margin-bottom: 70px
      +md
         margin-bottom: 30px
   &__sub-title
      margin-bottom: 10px
      font-size: 28px
      line-height: 26px
      color: $color-3
      +md
         font-size: 24px
   &__title
      margin-bottom: 20px
      font-size: 72px
      line-height: 72px
      color: #fff
      +md
         font-size: 62px
      +sm
         font-size: 42px
         line-height: 52px
   &__descr
      font-size: 20px
      +sm
         font-size: 18px
   &__actions
      &-btn
         margin-bottom: 10px
      &-status
         font-size: 14px
         line-height: 17px
         color: $color-4

.benefits
   padding: 45px 0
   text-align: center
   &__row
      max-width: 1200px
      justify-content: space-between
      +md
         flex-direction: column
         align-items: center
   &__item
      padding: 0 15px
      line-height: 26px
      +md
         max-width: 600px
      &:not(:last-child)
         +md
            margin-bottom: 50px
      &_md
         flex: 0 1 percentage(620 / 1200)
         +md
            flex: 0 1 auto
            width: 100%
      &_sm
         flex: 0 1 percentage(470 / 1200)
         +md
            flex: 0 1 auto
            width: 100%
      &-icon
         margin: 0 auto 30px
      
      &-title
         margin-bottom: 20px
         font-size: 24px
         line-height: 26px
         color: $color-3
      &-descr
         font-size: 18px
         &:not(:last-child)
            margin-bottom: 30px
         strong
            +f('ms900')
            color: $black
   &__actions
      margin-top: 88px
      +md
         margin-top: 45px
      +sm
         margin-top: 30px
      &-btn
         +sm
            padding: 17px 15px 15px

.program
   padding: 27px 0 0
   &__inner
      padding: 0 27px 40px 38px
      background: #c3d9ee
      +sm
         padding: 0 10px 20px
   &__title
      padding: 33px 0 31px
      text-align: center
      font-size: 30px
      line-height: 40px
      color: #000
   &__item
      padding: 35px 50px 50px 30px
      background: #fff
      color: #000
      font-size: 16px
      +md
         padding: 35px 30px 40px 25px
      +sm
         padding: 35px 10px 20px 10px
      
      &:not(:last-child)
         margin-bottom: 35px
      &-row
         align-items: flex-start
         justify-content: space-between
         +sm
            flex-direction: column
      &-title-wrap
         position: relative
      &-count
         position: absolute
         top: -10px
         left: 0
         width: 50px
         height: 50px
         border-radius: 50%
         background: #22628b
         color: #fff
         text-align: center
         +f('ms900', 20, 50)
      &-symbol
         color: $color-3
         background: transparent
         +sm
            font-size: 40px
      &-title
         padding-left: 70px
         margin-bottom: 27px
         font-size: 20px
         line-height: 25px
         color: #000
         +sm
            padding-left: 0
            padding-top: 50px
         &_orange
            color: $color-3
      &-list
         flex: 0 1 percentage(480/1085)
         padding: 0 15px 0 85px
         +md
            padding: 0 15px 0 15px
         +sm
            flex: 0 1 auto
            width: 100%
            padding: 0 5px 0 15px
      &-descr
         flex: 0 1 percentage(580/1085)
         padding: 0 15px
         +f('ms100i', null, 23)
         +sm
            flex: 0 1 auto
            width: 100%
   
   &__actions
      margin-top: 40px
      text-align: center
      &-btn
         padding: 17px 47px 15px
   
   &__examples
      padding: 110px 0 5px
      +sm
         padding: 60px 0 5px
      &-row
         justify-content: space-between
         +md
            justify-content: center
      &-item
         flex: 0 1 370px
         padding: 0 15px 30px
         text-align: center
      &-title
         min-height: 58px
         margin-bottom: 25px
         font-size: 26px
         line-height: 29px
         color: #22628b
      &-img-wrap
         height: 208px
      &-link
         +f('ms100', 14, 21)
         border-bottom: 1px solid rgba(#343c53, .5)
         color: #343c53
         +trs
         &:hover
            border-bottom-color: transparent
   &__included
      padding: 70px 0
      color: #fff
      +cover
      &-item
         &:not(:last-child)
            margin-bottom: 53px
      &-container
         max-width: 680px
      &-title
         margin-bottom: 30px
         font-size: 30px
         line-height: 37px
         color: $color-3
      &-sub-title
         font-size: 20px
         line-height: 27px
         color: $color-3
      &-list
         line-height: 27px

.authors
   padding: 90px 0 130px
   +sm
      padding: 60px 0
   &__container
      max-width: 1120px
   &__title
      margin-bottom: 105px
      +md
         margin-bottom: 50px
      +sm
         margin-bottom: 30px
   &__person
      display: flex
      align-items: flex-start
      +sm
         flex-wrap: wrap
      &:not(:last-child)
         margin-bottom: 94px
         +sm
            margin-bottom: 40px
      &-photo-wrap
         flex: 0 1 percentage(326 / 1090)
         +ratio(326, 326)
         +cover-img
         +sm
            width: 100%
            flex: 0 1 auto
         img
            +coverdiv
            width: 100%
      &-text
         padding: 30px 30px 0 35px
         flex: 1
         +md
            padding: 0 0 0 30px
         +sm
            width: 100%
            flex: 0 1 auto
            padding: 30px 0 0
      &-name
         margin-bottom: 20px
         font-size: 24px
         line-height: 36px
      &-descr
         font-size: 16px
         line-height: 23px
         &:not(:last-child)
            margin-bottom: 10px

.prices
   padding: 50px 0 40px
   +cover
   &__container
      max-width: 1234px
   &__title
      margin-bottom: 90px
      text-align: center
      color: #fff
      font-size: 30px
      line-height: 36px
      +md
         margin-bottom: 40px
      +sm
         margin-bottom: 30px
   &__row
      align-items: flex-start
      justify-content: space-between
      +md
         justify-content: center
   &__card
      padding: 20px 25px 40px
      background: #fff
      color: #000
      +md
         margin: 0 15px 30px
      &_md
         flex: 0 1 405px
         +sm
            flex: 1 1 100%
      &_sm
         flex: 0 1 350px
         +sm
            flex: 1 1 100%
      &-header
         position: relative
         margin-bottom: 35px
         padding-bottom: 30px
         +sm
            margin-bottom: 20px
            padding-bottom: 20px
         &::after
            position: absolute
            bottom: 0
            left: 0
            height: 3px
            width: 90px
            background: $color-3
            content: ''
      &-title
         margin-bottom: 10px
         font-size: 30px
         line-height: 36px
         color: $color-3
      &-price
         font-size: 26px
         span
            +f('ms900', 30, 30)
      
      &-list
         font-size: 15px
         line-height: 21px
         & + &
            margin-top: 37px
            +sm
               margin-top: 25px
         &_orange
            color: $color-3
         li
            &:not(:last-child)
               margin-bottom: 8px
      
      &-btn
         min-width: 190px
         padding: 17px 20px 15px
      &-actions
         margin-top: 45px
         text-align: center
         &-text
            margin-top: 5px
            font-size: 14px
            line-height: 16px
   &__guarantee
      margin: 50px 0 0 60px
      font-size: 16px
      color: #fff
      +md
         margin: 30px 0 0 60px
      +sm
         margin: 30px 0 0
      &-title
         margin-bottom: 3px
         font-size: 30px
         line-height: 36px
         color: $color-3

         
.testimonials
   padding: 50px 0
   &__title
      margin-left: 70px
      margin-bottom: 65px
      +sm
         margin-left: 0
         margin-bottom: 35px
   &__item
      position: relative
      flex: 0 1 50%
      padding: 0 15px
      font-size: 16px
      line-height: 21px
      +sm
         flex: 1 1 100%
      &:nth-child(1) ~ &
         +sm
            margin-top: 30px
      &:nth-child(2) ~ &
         margin-top: 80px
         +md
            margin-top: 50px
         +sm
            margin-top: 30px
      &:nth-child(4) ~ &
         margin-top: 90px
         +md
            margin-top: 50px
      &-inner
         padding: 10px 50px 25px 25px
         +md
            padding: 10px 0 25px 25px
      &::before
         position: absolute
         top: 0
         left: 15px
         height: 100%
         width: 3px
         background: #343c53
         content: ''

      &-text
         margin-bottom: 20px
         color: #343c53
         +f('ms300i')

      &-person
         color: #000
         &-name
            +f('ms900', 17, 23)
         &-pos
            
.faq
   padding: 120px 0 107px
   +cover
   +md
      padding: 50px 0 80px
   +sm
      padding: 20px 0 60px
   &__title
      margin-bottom: 45px
   &__item
      &:not(:last-child)
         margin-bottom: 30px
   &__question
      position: relative
      padding-bottom: 2px
      display: inline-block
      vertical-align: top
      margin-bottom: 4px
      font-size: 20px
      line-height: 30px
      &::after
         content: ''
         position: absolute
         bottom: 0
         left: 0
         width: 100%
         height: 1px
         transition: .3s ease
         background-image: linear-gradient(90deg, currentColor, currentColor 75%, transparent 75%, transparent 100%)
         background-size: 20px 1px
   &__answer
      font-size: 16px

.clients
   padding: 65px 0 95px
   +cover
   &__title
      margin-bottom: 60px
      color: #fff
      text-align: center
   &__row
      justify-content: space-between
      align-items: center
      +sm
         flex-direction: column
      &:not(:last-child)
         margin-bottom: 50px
         +sm
            margin-bottom: 30px
   &__item
      flex: 0 0 auto
      padding: 0 15px
      text-align: center
      +md
         flex: 0 0 25%
      +sm
         flex: 0 1 auto
      &:not(:last-child)
         +sm
            margin-bottom: 30px
