//begin footer
+b.FOOTER.footer
	+e.container.container
		+e.info
			+e.P.info-text © Месторождение 2018
			+b.socials.footer__socials
				+e.A.link(href='#!' target='_blank')
					+i('tg')
				+e.A.link(href='#!' target='_blank')
					+i('fb')
				+e.A.link(href='#!' target='_blank')
					+i('vk')

		+e.nav
			+e.nav-col
				+e.H5.nav-title Программы роста для собственников
				+e.UL.nav-list
					li Интенсивы
					li Совет Директоров
					li Трекинг
					li Акселерация

			+e.nav-col
				+e.H5.nav-title Экспертам
				+e.UL.nav-list
					li Наставничество
					li Школа трекеров
					li Экспертное сообщество

			+e.nav-col
				+e.H5.nav-title Месторождение
				+e.UL.nav-list
					li Информация о нас
					li Команда
					li Адрес и телефоны
//end footer
