include ../bemto/index
include ../mixins/all
include ../partials/_popups

doctype html
html(lang='ru')

  block variables

  head
    include _head
  block body
    body(class= bodyClass)

      block header
        include ../partials/_header
      block content

      block footer
        include ../partials/_footer

      //LOAD SCRIPTS
      block scripts
        script(type="text/javascript" src="js/app.js")
