.logo
   display: flex
   align-items: center
   img
      margin-right: 5px
      width: 31px
      height: 35px
   span
      font-family: "Times New Roman", sans-serif
      font-weight: 700
      font-size: 18px
      color: #4c4c4c
