.footer
   padding: 40px 0
   background: $color-2
   &__container
      display: flex
      justify-content: space-between
   &__info
      &-text
         margin-bottom: 20px
         color: #94a9b0
   &__nav
      display: flex
      font-size: 16px
      &-col
         padding: 0 15px
      &-title
         margin-bottom: 20px
         color: #fff
         +f('ms700')
      &-list
         list-style: none
         color: #94a9b0
         li
            &:not(:last-child)
               margin-bottom: 5px
.socials
   display: flex
   &__link
      
      &:not(:last-child)
         margin-right: 15px
         
      svg
         fill: #9195a2
